# Pandas

A biblioteca pandas prepara/organiza os dados
Estes processos é chamado também de Data Muning
Tem uma boa integração com o Numpy

dois conceitos principais: 

- Series
- DataFrames

Site oficial: https://pandas.pydata.org/

Comando para Instalação: pip install pandas

In [1]:
#importando a biblioteca Pandas
import pandas as pd

# Series

Series são arrays unidimensionais que contém uma lista de dados e
outra lista de indicies

In [5]:
series_1 = pd.Series([14, 10, 4, 1])
print(series_1)

0    14
1    10
2     4
3     1
dtype: int64

In [6]:
#Criação de Series definindo os índicies 
series_2 = pd.Series([14, 10, 4, 1], index=['a', 'b', 'c', 'd'])
print(series_2)

a    14
b    10
c     4
d     1
dtype: int64

In [7]:
#Retorna apenas os valores da Series
print(series_2.values)

[14 10  4  1]

In [8]:
#Retorna apenas os índicies da Series
print(series_2.index)

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
#retorna o valor correspondente ao indice 'b'
print(series_2['b'])

10

In [10]:
#Retorna uma series contando 
print(series_2[series_2>5])

a    14
b    10
dtype: int64

In [11]:
#Criando uma series através de diciónario
dicionario_1 = {'a':14, 'b':10, 'c':4, 'd':1}
series_3 = pd.Series(dicionario_1)
print(series_3)

a    14
b    10
c     4
d     1
dtype: int64

In [13]:
#Alteração o series_3 para um novo series com um indice a mais
#neste, caso não passui valor correspondente a este indice (NaN - Not a Number)
series_4 = pd.Series(series_3, index=['a', 'b', 'c', 'd', 'e'])
print(series_4)

a    14.0
b    10.0
c     4.0
d     1.0
e     NaN
dtype: float64

In [14]:
#verifica quais posições possuem valores nulos(NaN) - retornando True neste caso
print(pd.isnull(series_4))

a    False
b    False
c    False
d    False
e     True
dtype: bool

In [15]:
#verifica quais posições possuem valores que não nulos- retornando True neste caso
print(pd.notnull(series_4))

a     True
b     True
c     True
d     True
e    False
dtype: bool

In [16]:
#nomeando uma Series
series_4.name = 'Aula'
print(series_4)

a    14.0
b    10.0
c     4.0
d     1.0
e     NaN
Name: Aula, dtype: float64

# Dataframe

- Estrutura semelhante a uma planilha do Excel
- Possui colunas e linhas

In [20]:
dicionario_2 = {
    'Dias': ['Segunda', 'Terça', 'Quarta'],
    '7h': ['POO', 'BD', 'Algoritimos'],
    '8h': ['Análise', 'Back end', 'Front end']
}

In [21]:
dataframe_1 = pd.DataFrame(dicionario_2)
print(dataframe_1)

      Dias           7h         8h
0  Segunda          POO    Análise
1    Terça           BD   Back end
2   Quarta  Algoritimos  Front end

In [23]:
valores =[
    ['Segunda', 'Terça', 'Quarta'],
    ['POO', 'BD', 'Algoritimos'],
    ['Análise', 'Back end', 'Front end']
]

colunas = ['Dias', '7h', '8h']

indicies = ['a', 'b', 'c'] 

dataframe_2 = pd.DataFrame(valores, columns=colunas, index=indicies)
print(dataframe_2)

      Dias        7h           8h
a  Segunda     Terça       Quarta
b      POO        BD  Algoritimos
c  Análise  Back end    Front end

In [5]:
colunas = ['Disciplina', 'CH', 'BD']

valores = [
    ['Algoritmos', 80, 'Segunda'],
    ['P. Orientadas a Objetos', 80, 'Terça'],
    ['Banco de dados', 40, 'Quarta']
]
indices = ['ALG', 'POO', 'BD']

dataframe_3 = pd.DataFrame(valores, columns=colunas, index=indices)
print(dataframe_3)

                  Disciplina  CH       BD
ALG               Algoritmos  80  Segunda
POO  P. Orientadas a Objetos  80    Terça
BD            Banco de dados  40   Quarta

In [6]:
novas_ch = [120, 120, 80]
dataframe_3['CH'] = novas_ch

dataframe_3

                  Disciplina   CH       BD
ALG               Algoritmos  120  Segunda
POO  P. Orientadas a Objetos  120    Terça
BD            Banco de dados   80   Quarta

In [ ]:
'''
O slicing por padrão funciona por linha. No exeplo a segiur,
imprime as duas primeiras linhas.
'''
print(dataframe_3[0:2])

In [7]:
#Imprime a primeira e a terceira linha
print(dataframe_3[0:3:2])

         Disciplina   CH       BD
ALG      Algoritmos  120  Segunda
BD   Banco de dados   80   Quarta

In [8]:
print(dataframe_3.loc[:,'Disciplina':'CH'])

                  Disciplina   CH
ALG               Algoritmos  120
POO  P. Orientadas a Objetos  120
BD            Banco de dados   80

In [ ]:
dataframe_3['CH'].describe()